.dynamic-filter {
 padding-left: 5px;
}

.dynamic-filter .field-selector {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
}

.dynamic-filter .filter-element {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
}